<div class="login-page sidebar-collapse">
  <div class="page-header header-filter login-background">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
          <div class="form">
            <%= form_with(url: "/admin/#{@user.id}", method: "patch") do |form| %>
              <div class="card card-login card-hidden">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Update</h4>
                </div>
                <div class="card-body ">
                  <<div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <%= form.text_field :first_name, class: "form-control", autofocus: true, placeholder: "First Name...", value: @user.first_name %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">face</i>
                          </span>
                        </div>
                        <%= form.text_field :last_name, class: "form-control", placeholder: "Last Name...", value: @user.last_name %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">mail</i>
                          </span>
                        </div>
                        <%= form.email_field :email, class: "form-control", placeholder: "Email...", value: @user.email %>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">fingerprint</i>
                          </span>
                        </div>
                        <% cat = ["owner", "clerk", "customer"]
                           int_cat = cat.find_index(@user.role)
                           puts int_cat %>
                        <%= select_tag(:role, options_for_select([["owner", 0], ["clerk", 1], ["customer", 2]], int_cat), class: "btn btn-primary") %>
                      </div>
                    </div>
                  <div class="card-footer justify-content-center">
                    <%= form.submit "update", class: "btn btn-rose btn-round" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
