<div class="shopping-cart sidebar-collapse">
  <div class="page-header header-filter shopping-background" data-parallax="true" filter-color="blue" style="height:120px">
  </div>

  <div class="main main-raised">
    <div class="card card-plain">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h3 class="card-title text-center">Shopping Cart</h3>
            <div class="table-responsive">

              <table class="table table-shopping text-center">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th>Item</th>
                    <th class="text-right">Price</th>
                    <th class="text-right">Qty</th>
                    <th class="text-right">Amount</th>
                    <th></th>
                  </tr>
                </thead>

                <% total = 0 %>
                <% index = 1 %>
                <% @order.order_items.each do |orderItem| %>
                  <tbody>
                    <tr>
                      <td >
                        <%= index %>
                        <% index += 1 %>
                      </td>
                      <td class="td-name">
                        <%= orderItem.menu_item_name %>
                      </td>
                      <td class="td-number text-right">
                        <small>&#8377;</small>
                        <%= price = orderItem.menu_item_price %>
                      </td>
                      <td class="td-number">
                        <div class="btn-group btn-group-sm">
                          <%= form_with(url: "/order_items/#{orderItem.id}", method: "put") do |form| %>
                            <%= form.hidden_field :menu_item_quantity, value: -1 %>
                            <button class="btn btn-link btn-info"> <i class="material-icons">remove</i> </button>
                          <% end %>
                          <%= quantity = orderItem.menu_item_quantity %>
                          <%= form_with(url: "/order_items/#{orderItem.id}", method: "put") do |form| %>
                            <%= form.hidden_field :menu_item_quantity, value: 1 %>
                            <button class="btn btn-link btn-info"> <i class="material-icons">add</i> </button>
                          <% end %>
                        </div>
                      </td>
                      <td class="td-number">
                        <small>&#8377;</small>
                        <%= price * quantity %>
                        <% total += price * quantity %>
                      </td>
                      <td class="td-actions">
                        <%= form_with(url: "/order_items/#{orderItem.id}", method: "delete") do %>
                          <button type="submit" class="btn btn-link">
                            <i class="material-icons">close</i>
                          </button>
                        <% end %>
                      </td>
                    </tr>
                  </tbody>
                <% end %>

                <tfoot>
                  <tr>
                    <td colspan="3"></td>
                    <td class="td-total">
                      Total
                    </td>
                    <td colspan="1" class="td-price">
                      <small>&#8377;</small>
                      <%= total %>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="text-center">
                      <%= form_with(url: "/orders/#{@order.id}", method: "put") do %>
                        <button type="submit" class="btn btn-info btn-round">Confirm and place the order <i class="material-icons">keyboard_arrow_right</i></button>
                      <% end %>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
