<div class="shopping-cart sidebar-collapse">
  <div class="page-header header-filter shopping-background" data-parallax="true" filter-color="blue" style="height:120px">
  </div>
  <div class="main main-raised">
    <div class="card card-plain">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-lg-10 col-md-10">
            <br>
            <h1 class="card-title text-center">Orders history</h1>

            <% arr = [:pending, :delivered] %>
            <% for x in arr %>
              <% orders = @order.where(:status => x) %>

                <div class="table-responsive">
                  <h4 class="text-center card-title"><%= x.upcase %></h4>
                  <table class="table table-shopping text-center">
                    <thead>
                      <tr class="text-center">
                        <th>#</th>
                        <th>Date</th>
                        <th>Total Amount</th>
                        <th>Status</th>
                        <% if x == :delivered %>
                          <th>Delivered</th>
                        <% end %>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% index = 1 %>
                      <% orders.each do |order| %>
                        <% total = 0 %>
                        <% order.order_items.each do |orderItem| %>
                          <% total += orderItem.menu_item_price.to_i * orderItem.menu_item_quantity.to_i %>
                        <% end %>

                        <tr class="text-center">
                          <%= form_with(url: "/order_items/#{order.id}", method: "get", class: "form-container") do |form| %>
                            <td><%= index %></td>
                                <% index += 1 %>
                            <td>
                              <%= order.date %>
                            </td>
                            <td>
                              <%= total %>
                            </td>
                            <td>
                              <%= x %>
                            </td>
                            <% if x == :delivered %>
                              <td>
                                <%= order.delivered_at %>
                              </td>
                            <% end %>
                            <td class="td-actions">
                              <button onclick="this.form.submit()" class="btn btn-success btn-link">
                                <i class="material-icons">visibility</i>
                              </button>
                            </td>
                          <% end %>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
                <hr/>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
