<div class="shopping-cart sidebar-collapse">
  <div class="page-header header-filter shopping-background" data-parallax="true" filter-color="blue" style="height:120px">
  </div>
  <div class="main main-raised">
    <div class="card card-plain">
      <div class="card-body">
        <div class="row">
          <div class="col-md-9">
            <br>

            <h1 class="card-title text-center">Menu</h1>
            <% MenuCategory.where(status: true).each do |category| %>

              <div class="table-responsive">
                <h3 class="text-center"><small><%= category.name.upcase %></small></h3>
                <table class="table table-shopping">
                  <thead>
                    <tr class="text-center">
                      <th>ID</th>
                      <th>Name</th>
                      <th>Description</th>
                      <th>Price</th>
                      <th>Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% index = 1 %>
                    <% MenuItem.where(menu_category_id: category.id, status: true).each do |menu| %>
                      <tr class="text-center">
                        <td><%= index %></td>
                            <% index += 1 %>
                        <td><%= menu.name %></td>
                        <td><%= menu.description %></td>
                        <td><%= menu.price %></td>
                        <td class="td-number text-center">

                          <% temp = OrderItem.where(menu_item_id: "menu.id").count %>
                          <% if temp == 0 %>
                            <button class="btn btn-round btn-info"> Add </button>
                          <% else %>
                            <%= temp %>
                            <div class="btn-group btn-group-sm">
                              <button class="btn btn-round btn-info"> <i class="material-icons">remove</i> </button>
                              <button class="btn btn-round btn-info"> <i class="material-icons">add</i> </button>
                            </div>
                          <% end %>

                        </td>
                      </tr>
                    <% end %>

                  </tbody>
                </table>
              </div>
              <hr/>
            <% end %>

          </div>
          <div class="col-md-3 border-left">
            <h4 class="card-title text-center">Shopping Cart</h4>
            <div class="table-responsive">
              <table class="table table-shopping">
                <thead>
                  <tr>
                    <th class="col-md-4">Item-Name</th>
                    <th class="col-md-2">Quantity</th>
                    <th class="col-md-6" colspan="2">Total Amount</th>
                  </tr>
                </thead>

                <% total = 0 %>
                <% OrderItem.all.group(:id).each do |order| %>
                  <tbody>
                    <tr class="text-center">
                      <td class="col-md-4"><%= order.first.menu_item_name %></td>
                      <td class="col-md-2"><%= order.count %></td>
                      <td class="col-md-4"><small>&#8377;</small>
                        <%= order.price.sum %>
                        <% total += order.price.sum %>
                      </td>
                      <td class="col-md-2">
                        <%= form_with(url: "/order/#{order.id}", method: "delete") do %>
                          <button type="submit" class="btn btn-link">
                            <i class="material-icons">close</i>
                          </button>
                        <% end %>
                      </td>
                    </tr>
                  </tbody>
                <% end %>

                <tfoot class="card-title">
                  <tr>
                    <td colspan="2" class="text-right">
                      Total Amount =
                    </td>
                    <td class="text-left">
                      &#8377; <%= total %>
                    </td>
                    <td></td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
