<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>



    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body class="index-page sidebar-collapse">

    <div class="header-3">
      <nav class="navbar navbar-transparent navbar-absolute navbar-expand-lg">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-translate">
            <a class="navbar-brand" href="/">
              <span style="font-size: 32px;">
                <span style="color:#000;">Uber</span>
                <span style="color:#0F0;">Eats</span>
              </span>
            </a>

            <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" data-target="#topNav">
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="topNav">
            <ul class="navbar-nav ml-auto">
              <% if @current_user %>
                <li class="button-container nav-link iframe-extern">
                  <a href="/shopping" class="btn btn-rose btn-round btn-block">
                    <i class="material-icons">shopping_cart</i> Buy Now
                  </a>
                </li>
                <li class="button-container nav-link iframe-extern">
                  <%= link_to "Sign-out", destroy_session_path, method: "delete", class: "btn  btn-rose btn-round btn-block" %>
                </li>
              <% elsif request.original_fullpath == "/users/new" %>
                <li class="nav-item">
                  <a href="/AboutUs" class="nav-link">
                    <i class="material-icons">account_balance</i> About Us
                  </a>
                </li>
                <li class="button-container nav-link iframe-extern">
                  <a href="/signin" class="btn  btn-rose btn-round btn-block">
                    <i class="material-icons">fingerprint</i> Login
                  </a>
                </li>
              <% else %>
                <li class="nav-item">
                <a href="/AboutUs" class="nav-link">
                  <i class="material-icons">account_balance</i> About Us
                </a>
              </li>
                <li class="button-container nav-link iframe-extern">
                  <a href="/users/new" class="btn  btn-rose btn-round btn-block">
                    <i class="material-icons">fingerprint</i> Register
                  </a>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>

    <% if flash[:error] %>
      <div class="alert alert-danger fixed-bottom">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">error_outline</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <b>Error Alert: </b> <%= flash[:error] %>
        </div>
      </div>
      <div class="clearfix"></div>
    <% end %>


    <%= yield %>


    <footer class="footer footer-black footer-big">
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="col-md-3">
              <a href="/" class="copyright pull-center">
                <span style="font-size: 32px;">
                  <span style="color:#FFF;">Uber</span>
                  <span style="color:#0F0;">Eats</span>
                </span>
              </a>
            </div>
            <div class="col-md-3">
              <h5>About Uber Eats</h5>
              <ul class="links-vertical">
                <li>
                  <a href="#futureWork">
                    Read our Blog
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Buy Gift Cards
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Create a business account
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Add your restaurant
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Sign up to deliver
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>Get Help</h5>
              <ul class="links-vertical">
                <li>
                  <a href="#futureWork">
                    View all cities
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    View all countries
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Restaurant near me
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Save on your first order
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    English
                  </a>
                </li>
              </ul>
            </div>

            <div class="col-md-3">
              <h5>Follow Us</h5>
              <ul class="social-buttons">
                <li>
                  <a href="#futureWork" class="btn btn-just-icon btn-link btn-twitter">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#futureWork" class="btn btn-just-icon btn-link btn-facebook">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                </li>
                <li>
                  <a href="#futureWork" class="btn btn-just-icon btn-link btn-instagram">
                    <i class="fa fa-instagram"></i>
                  </a>
                </li>
              </ul>
              <ul class="links-vertical">
                <li>
                  <a href="#futureWork">
                    Privacy Policies
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Terms
                  </a>
                </li>
                <li>
                  <a href="#futureWork">
                    Pricing
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="copyright pull-center">
          Copyright &#xA9; Shubhank Singhal All Rights Reserved.
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
